<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookApp Home</title>

    <link rel="stylesheet" href="/assets/css/Bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    
        <section class="hero">

            <div class="hero-content text-center">
                <h1>Expand your mind,<br> reading a book</h1>

                <p>
                    Reading books is a wonderful way to spend your time.
                    Here we believe reading will help you make better connections.
                </p>

                <div class="hero-buttons">
                    <a href="/add-book" class="btn-primary">Add Book</a>
                    <a href="/books" class="btn-secondary">View Books</a>
                </div>
            </div>

            <div class="hero-img">
                <img src="/assets/images/home-img.png" alt="Books Image">
            </div>
        </section>
</body>

</html>